@typeparam TEntity
@inherits GridBase<TEntity>

@if (this.PagedResult != null)
{
    <table class="table">
        <thead>
            <tr>
                @foreach (var column in Options.Columns)
                {
                    <th>@column.Caption</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var model in PagedResult.List)
            {
                <tr>
                    @foreach (var column in Options.Columns)
                    {
                        <th>@column.ValueFor(model)</th>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <a>loading...</a>
}