@addTagHelper *, Blazor.FlexGrid
@using Blazor.FlexGrid.DataAdapters
@using Blazor.FlexGrid.Components.Events
@using Blazor.FlexGrid.DataSet.Options

@using RomMaster.Client.Database.Models
@using RomMaster.WebSite.App.Services

@page "/datlist"
@inject IHttpClientFactory clientFactory
@inject LazyDataSet<Dat> datService

<h1>Dat List</h1>

<GridView DataAdapter="@lazyLoadedTableDataAdapter"
          LazyLoadingOptions="@(new LazyLoadingOptions { DataUri = "/api/datlist" })"
          PageSize="20">
</GridView>

@functions {
    LazyLoadedTableDataAdapter<Dat> lazyLoadedTableDataAdapter;

    protected override void OnInit()
    {
        lazyLoadedTableDataAdapter = new LazyLoadedTableDataAdapter<Dat>(datService, datService);
    }

    //public void ItemSavedOperationFinished(SaveResultArgs saveResultArgs)
    //{
    //    Console.WriteLine($"Item saved result: {saveResultArgs.SaveResult}");
    //}
}
