<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>

 <targets async="true">
	<target xsi:type="File" name="allfile" fileName="${var:configDir}\nlog-all.log" layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target name="blackhole" xsi:type="Null" />

    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="${date:format=HH\:mm\:ss}|${message}" />
  
    <target name="appInsights" xsi:type="ApplicationInsightsTarget" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger enabled ="false" name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger enabled ="false" name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <logger enabled ="true" name="*" minlevel="Trace" writeTo="console" />
  
    <logger enabled ="true" name="*" minlevel="Trace" writeTo="appInsights" />
  </rules>
</nlog>